!!!
%html
	%head
		%title Bookmark Manager
	%body
		- if flash[:notice]
			#notice
				= flash[:notice]
		- if flash[:errors] && !flash[:errors].empty?
			#errors
				Sorry, there were the following problems:
				%ul
					- flash[:errors].each do |error|
						%li= error
		- if current_user
			%form{ method: 'post',  action: '/sessions' }
				%input{ type: 'hidden', name: '_method', value: 'delete' }
				%input{ type: 'submit', value: 'Sign out'}
		= yield